html, body {
    margin: 0;
    padding: 0;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

body {
    background-color: lightgray;
}

#title {
    color: black;
    text-align: center;
    margin-top: 10vh;
    font-family: 'Noto Serif JP', cursive;
}

.subtitle {
    color: red;
    text-align: center;
}

.item-container {
    margin: 100px auto;
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.item-name {
    float: left;
    width: 25%;
    border: 1px solid black;
    text-align: center;
    transition-duration: .4s;
}

.item-name:hover {
    transition-duration: .4s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    cursor: pointer;
}

.item-subtitle {
    color: red;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .item-container {
    flex-direction: column;
  }

  .item-name {
    width: 100%;
    margin-bottom: 50px;
  }
