body {
    background-color: lightgray;
}

#title {
    color: black;
    text-align: center;
    margin-top: 10vh;
    font-family: 'Noto Serif JP', cursive;
}

.subtitle {
    color: red;
    text-align: center;
}

.item-container {
    margin: 100px auto;
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.item-name {
    float: left;
    width: 25%;
    border: 1px solid black;
    padding: 20px 10px;
    text-align: center;
}

.item-subtitle {
    color: red;
}

