body {
    background-color: lightgray;
}

#title {
    color: black;
    text-align: center;
    margin-top: 10vh;
    font-family: 'Noto Serif JP', cursive;
}

.subtitle {
    color: red;
    text-align: center;
}

.item {
    border: 1px solid black;
    display: inline-block;
    padding: 20px 10px;
    text-align: center;
    transition-duration: .3s;
}

.item:hover {
    background-color: white;
    cursor: pointer;
    transition-duration: .3s;
}
.item-subtitle {
    color: red;
}
