html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

#title {
    color: black;
    text-align: center;
    margin-top: 10vh;
    font-family: 'Noto Serif JP', cursive;
}

.subtitle {
    color: red;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.back-button {
    font-family: 'Noto Serif JP', cursive;
    display: inline-block;
    font-size: 1.6em;
    position: fixed;
    top: 11vh;
    left: 5vw;
    text-align: center;
}

.food-container {
    width: 60vw;
    border: 1px solid black;
    margin: 10vh auto;
}

.description {
    width: 90%;
    margin: 0 auto;
    font-family: 'Noto Serif JP', cursive;
    font-size: 1em;
}
